certifi==2023.5.7
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1671013522951/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1682210346059/work
openpyxl @ file:///Users/runner/miniforge3/conda-bld/openpyxl_1682610944483/work
pandas==1.5.3
pandas-datareader @ file:///home/conda/feedstock_root/build_artifacts/pandas-datareader_1626254169655/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pyTelegramBotAPI==4.12.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1683161174614/work
